## The second In-class-exercise (02/07/2023, 40 points in total)

The purpose of this exercise is to understand users' information needs, then collect data from different sources for analysis.

Question 1 (10 points): Describe an interesting research question (or practical question) you have in mind, what kind of data should be collected to answer the question(s)? How many data needed for the analysis? The detail steps for collecting and save the data.

Spoken language identification using mel spectrogram.Recent studies shows that spoken language identification using log mel spectrogram shows good accuracy than shifted delta cepstral.There might be good accuracy if we use mel spectrogram using CNN.

In order to solve this problem we need to collect different spoken language audios such as english,Hindi,Telugu etc..so we need MP3 files of 10 seconds or 15 seconds to solve this problem.After collecting this we need to extract spectrogram from this Mp3.The main reson for 10 seconds MP3 is if we have large MP3 file it takes time in order to train.

Most of the datasets are already avaliable in Kaggle,google etc.But if we want to use we need to record different people audio clips.The main problem is that the noise which disturbs the whole training.The noise disturbance is resolved by using Guassian noise filter.The other strategy is to scrapy different audio files from different website which may give a good audio with no disturbance.

In order to train CNN it requires more images.Around 10,000 plus spectrographic images for each language is required to train the model.For each language we need 10,000 audio files which are saved as mp3 format.Those files are later saved in dataset in which one column contain path of audio and another contain their respected language names.

Most of the datasets are already avaliable in Kaggle,google etc.For example a dataset with german,french is available in kaggle which contain 80,000 plus audiofiles.Another way is to record different community people voice which may result in lack of audio files for specific language.Another way is to scrape audio files from different websites.After scraping the files we can formulate it in dataframe in which one coulumn contains its respective language name.

Question 2 (10 points): Write python code to collect 1000 data samples you discussed above.

One way to collecte data: one way to get data is to download from the kaggle website(https://www.kaggle.com/datasets/toponowicz/spoken-language-identification ) this dataset contain 3 different languages(english, germany, spanish) with 80000+ audio files.

other way to collect data other way to collect data is to scraping audio files from different website the below code show the example of scrapping data from (https://www.audio-lingua.eu/?lang=en ) website.

In [3]:
#importing packages 
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [4]:
#creating dataset with 2 columns one for audiolinks and other for its respected langauge
df = pd.DataFrame(columns = ['url', 'language'])

In [5]:
#get loading website https://www.audio-lingua.eu/?lang=en
url = 'https://www.audio-lingua.eu/?lang=en'
page = requests.get(url)

In [6]:
#parsing website using beautifulsoup
soup = BeautifulSoup(page.content, "html.parser")
result = soup.find_all("div", class_="logolangue")

In [7]:
#finding different language links
links = []
main_url = 'https://www.audio-lingua.eu/'
for i in result:
  a_tag = i.find('a')
  name = i.find('h2')
  name = name.text
  link = a_tag['href']
  link = main_url + link
  links.append([link, name])

In [26]:
#loading different languages files into dataset
for i in links :
  for j in range(0,500,5):
    url1 = i[0]+'&lang=fr&debut_articles='+str(j)+'#pagination_articles'
    page = requests.get(url1)
    soup1 = BeautifulSoup(page.content, "html.parser")
    result1 = soup1.find_all("audio", class_="player")
    for j in result1:
      audio = j.find('source')['src']
      audio_link = main_url+audio
      df.loc[len(df.index)] = [audio_link, i[1]]

In [27]:
df

                                                     url language
0      https://www.audio-lingua.eu/IMG/mp3/anniv_1_de...   French
1      https://www.audio-lingua.eu/IMG/mp3/baptiste_p...   French
2      https://www.audio-lingua.eu/IMG/mp3/andreea_po...   French
3      https://www.audio-lingua.eu/IMG/mp3/alois_pour...   French
4         https://www.audio-lingua.eu/IMG/mp3/alexis.mp3   French
...                                                  ...      ...
25470  https://www.audio-lingua.eu/IMG/mp3/Emmanuelle...   French
25471  https://www.audio-lingua.eu/IMG/mp3/STE-000ver...   French
25472  https://www.audio-lingua.eu/IMG/mp3/az_antonin...   French
25473  https://www.audio-lingua.eu/IMG/mp3/dominos-1_...   French
25474  https://www.audio-lingua.eu/IMG/mp3/audiolingu...   French

[25475 rows x 2 columns]

Question 3 (10 points): Write python code to collect 1000 articles from Google Scholar (https://scholar.google.com/), Microsoft Academic (https://academic.microsoft.com/home), or CiteSeerX (https://citeseerx.ist.psu.edu/index), or Semantic Scholar (https://www.semanticscholar.org/), or ACM Digital Libraries (https://dl.acm.org/) with the keyword "information retrieval". The articles should be published in the last 10 years (2012-2022).

The following information of the article needs to be collected:

(1) Title

(2) Venue/journal/conference being published

(3) Year

(4) Authors

(5) Abstract

In [62]:
# You code here (Please add comments in the code):
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import re
import time


#Importing the required modules.
import requests
import json

#Creating the variable topic with the value as the keyword we need to search for in the semantic scholar articles.
topic = 'Temperature'
#Storing the URL variable with dynamic query keywod you need to search for and the different queryparameters.
#To understand the queryparams, headers etc to hit the api in a correct way, check the following url. 
#https://api.semanticscholar.org/api-docs/graph

# Meanwhile, through an API (Application Programming Interface), one can gain access to the data of an application or operating system. 
# Therefore, APIs depend on the owner of the said dataset. The data can be either offered for free or be available at a cost. 
# The owner can also limit the number of requests that a single user can make or the amount of data they can access.
url = "https://api.semanticscholar.org/graph/v1/paper/search?query="+ topic + "&offset=100&limit=3&fields=url,title,abstract,authors"

#Creating the empty payload and headers dictionary, as we are simply using the GET API here. Check the documentation.
payload={}
headers = {}

# Hitting the GET api using the request module, with "GET" method as the API method, URL with the dynamic URL created in the previous step, headers and payload.
response = requests.request("GET", url, headers=headers, data=payload)

#Just printing the response text from the above hit.
print(response.text)

#As the data we received is text, we need to convert them into the json using the json.loads fucntion.
#This conversion is possible as the text we received from GET method contains the formatted json data converted to string.
data = json.loads(response.text)['data']
#Created the pandas dataframe object using the json data we generated in previous step.
df = pd.DataFrame(data)
df.head()

{"total": 11259913, "offset": 100, "next": 103, "data": [{"paperId": "17c9b8f671e451114016f8bd11606b4324ab50d3", "url": "https://www.semanticscholar.org/paper/17c9b8f671e451114016f8bd11606b4324ab50d3", "title": "Room-Temperature Ferromagnetism in Transparent Transition Metal-Doped Titanium Dioxide", "abstract": "Dilute magnetic semiconductors and wide gap oxide semiconductors are appealing materials for magnetooptical devices. From a combinatorial screening approach looking at the solid solubility of transition metals in titanium dioxides and of their magnetic properties, we report on the observation of transparent ferromagnetism in cobalt-doped anatase thin films with the concentration of cobalt between 0 and 8%. Magnetic microscopy images reveal a magnetic domain structure in the films, indicating the existence of ferromagnetic long-range ordering. The materials remain ferromagnetic above room temperature with a magnetic moment of 0.32 Bohr magnetons per cobalt atom. The film is conductive and exhibits a positive magnetoresistance of 60% at 2 kelvin.", "authors": [{"authorId": "144982479", "name": "Y. Matsumoto"}, {"authorId": "92094500", "name": "M. Murakami"}, {"authorId": "2132475101", "name": "Tomoji Shono"}, {"authorId": "50031978", "name": "T. Hasegawa"}, {"authorId": "48194784", "name": "T. Fukumura"}, {"authorId": "48676614", "name": "M. Kawasaki"}, {"authorId": "2831682", "name": "P. Ahmet"}, {"authorId": "46715777", "name": "T. Chikyow"}, {"authorId": "5076920", "name": "S. Koshihara"}, {"authorId": "3708900", "name": "H. Koinuma"}]}, {"paperId": "f7b190eb795d4cc594e45569d150f85eac5c5f0a", "url": "https://www.semanticscholar.org/paper/f7b190eb795d4cc594e45569d150f85eac5c5f0a", "title": "Global patterns of plant leaf N and P in relation to temperature and latitude.", "abstract": "A global data set including 5,087 observations of leaf nitrogen (N) and phosphorus (P) for 1,280 plant species at 452 sites and of associated mean climate indices demonstrates broad biogeographic patterns. In general, leaf N and P decline and the N/P ratio increases toward the equator as average temperature and growing season length increase. These patterns are similar for five dominant plant groups, coniferous trees and four angiosperm groups (grasses, herbs, shrubs, and trees). These results support the hypotheses that (i) leaf N and P increase from the tropics to the cooler and drier midlatitudes because of temperature-related plant physiological stoichiometry and biogeographical gradients in soil substrate age and then plateau or decrease at high latitudes because of cold temperature effects on biogeochemistry and (ii) the N/P ratio increases with mean temperature and toward the equator, because P is a major limiting nutrient in older tropical soils and N is the major limiting nutrient in younger temperate and high-latitude soils.", "authors": [{"authorId": "2829427", "name": "P. Reich"}, {"authorId": "5322133", "name": "J. Oleksyn"}]}, {"paperId": "56adf5e89725c605370df8f8819518f8a4c4507c", "url": "https://www.semanticscholar.org/paper/56adf5e89725c605370df8f8819518f8a4c4507c", "title": "Theta, time reversal and temperature", "abstract": null, "authors": [{"authorId": "88642716", "name": "D. Gaiotto"}, {"authorId": "144745735", "name": "A. Kapustin"}, {"authorId": "2808197", "name": "Z. Komargodski"}, {"authorId": "89852205", "name": "N. Seiberg"}]}]}

,paperId,url,title,abstract,authors
0,17c9b8f671e451114016f8bd11606b4324ab50d3,https://www.semanticscholar.org/paper/17c9b8f6...,Room-Temperature Ferromagnetism in Transparent...,Dilute magnetic semiconductors and wide gap ox...,"[{'authorId': '144982479', 'name': 'Y. Matsumo..."
1,f7b190eb795d4cc594e45569d150f85eac5c5f0a,https://www.semanticscholar.org/paper/f7b190eb...,Global patterns of plant leaf N and P in relat...,"A global data set including 5,087 observations...","[{'authorId': '2829427', 'name': 'P. Reich'}, ..."
2,56adf5e89725c605370df8f8819518f8a4c4507c,https://www.semanticscholar.org/paper/56adf5e8...,"Theta, time reversal and temperature",None,"[{'authorId': '88642716', 'name': 'D. Gaiotto'..."

Question 4 (10 points): Write python code to collect 1000 posts from Twitter, or Facebook, or Instagram. You can either use hashtags, keywords, user_name, user_id, or other information to collect the data. 

The following information needs to be collected:

(1) User_name

(2) Posted time

(3) Text

In [32]:
# You code here (Please add comments in the code):
import pandas as pd
import numpy as np
import tweepy
from tweepy import OAuthHandler
import requests
import json

In [33]:

consumer_key ="2Em7SxlX9jPMfL4x97r3zMO0x"
consumer_secret = "sVbJzekKuiAgq83Y7gCwNVbSowqQokGVzWexKHl2cXIPceWtSd"
access_token ="1439767876962029572-uUMt8oWRyzj9ilE5zk4uYbL93sCMPT"
access_token_secret = "oydIGymn9bS767FVEMawE9GyGAnMmBJfaY2XXKmHnmliF"

In [59]:
auth= tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)

In [60]:
api_auth = tweepy.API(auth,wait_on_rate_limit=True)
user_name =str(input("Enter the user name\n"))

Enter the user name
@TeamMessi

In [61]:
twe = tweepy.Cursor(api_auth.user_timeline, id=user_name).items(1000)

tweets_df = [[user_name ,tweet.created_at, tweet.text] for tweet in twe]

tweet = pd.DataFrame(tweets_df)
tweet.columns=['user_name','posted time','text']
tweet

,user_name,posted time,text
0,@TeamMessi,2022-12-19 17:36:54,RT @adidasfootball: Impossible is Nothing http...
1,@TeamMessi,2021-02-12 09:18:25,"RT @adidasfootball: ""Reaching this historic mi..."
2,@TeamMessi,2020-12-23 10:50:07,RT @adidasfootball: 644.\n\nFrom scoring his f...
3,@TeamMessi,2020-02-23 10:06:09,RT @SDEibar: Te sufrimos.\nTe padecemos.\nTe s...
4,@TeamMessi,2020-02-22 17:33:14,"RT @adidasfootball: Greatness.\nLeo Messi, the..."
...,...,...,...
995,@TeamMessi,2015-06-16 17:56:19,@TheNumber10Role Prove it. #BeTheDifference
996,@TeamMessi,2015-06-16 17:52:59,"@miguenito86 Claro, es que @charlyiacono se in..."
997,@TeamMessi,2015-06-16 17:50:37,"@AndresRashed Glad you like it, Andres. Our fr..."
998,@TeamMessi,2015-06-16 16:46:15,Inspired by his icon Leo Messi. Meet @charlyia...
999,@TeamMessi,2015-06-16 16:45:55,"Inspirado por Messi. Conocé a @charlyiacono, c..."