<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/In_class_exercise/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (01/24/2023, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [ ]:
string="Helloworld"
count=0
for i in string:
  count+=1
print(count)

10

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
samplestring="appleandbanana"
d={}
for i in samplestring:
  if i in d:
    d[i]+=1
  else:
    d[i]=1
print(d)

{'a': 5, 'p': 2, 'l': 1, 'e': 1, 'n': 3, 'd': 1, 'b': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [ ]:
list=[1,2,3,4,5,6,7,8]
sum=0
for i in list:
  sum=i+sum
print(sum)

36

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [ ]:
sample_string="restart"
sample_string=sample_string[0]+sample_string[1:].replace(sample_string[0],"$" )
sample_string

'resta$t'

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [ ]:
a=int(input())
b=int(input())
S=3.14*(1+a/b)**3 
print(S)

7
8
20.6982421875

In [ ]:
a=9
b=8
S=3.14*(1+a/b)**3 
print(S)

30.1305078125

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
dict1={1:10,2:20,3:30}
dict2={4:40,5:50,6:60}
dict3={7:70,8:80,9:90}
dict={}
for key in [dict1,dict2,dict3]:
 dict.update(key)
dict

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60, 7: 70, 8: 80, 9: 90}

In [ ]:
dict1={1:10,2:20,3:30}
dict2={4:40,5:50,6:60}
dict3={7:70,8:80,9:90}
dict={}
dict.update(dict1)
dict.update(dict2)
dict.update(dict3)
dict

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60, 7: 70, 8: 80, 9: 90}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [ ]:
my_tuple=(1,2,3,4,5)
n=int(input())
if n in my_tuple:
  print("yes")
else:
  print("no")

5
yes

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [ ]:
my_set={2,4,6,8,10,12,14}
A=max(my_set)
B=min(my_set)
print("maximum element in my_list:",A)
print("minimum element in my_list:",B)

maximum element in my_list: 14
minimum element in my_list: 2

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [ ]:
student_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']
list=[]
size=5
for i in range(0,len(student_list),size):
  list.append(student_list[i:i+size])
print(list)

[['ja0964', 'sa1198', 'sb1357', 'vb0218', 'sc1229'], ['kg0569', 'kg0470', 'sg1297', 'bg0320', 'fh0141'], ['jl1252', 'sk1386', 'ak0956', 'sk1390', 'sk1458'], ['sk1313', 'ak0934', 'vm0377', 'nm0618', 'sm1640'], ['sm1907', 'gn0108', 'pr0353', 'dr0609', 'ms1500'], ['aos0040', 'ds0814', 'av0659', 'nv0234', 'hy0232']]

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [ ]:
my_array=[1,2,3,4,5,6,3,7,5]
if len(set(my_array)) == len(my_array):
  print(-1)
else:
  for i in set(my_array):
    if my_array.count(i) > 1:
      print(i)

3
5

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [ ]:
import numpy as np
year = input()
s_count = np.busday_count(year, str(int(year)+1), weekmask='Sun')
print(" NUmber of sundays in the year {0} are {1}".format(year,s_count))

2020
 NUmber of sundays in the year 2020 are 52

In [ ]:
s_count

52

In [ ]:
from  datetime import date,timedelta
def sundays(year):
  dt=date(year,1,1)
  dt+=timedelta(days=6-dt.weekday())
  while dt.year==year:
    yield dt
    dt+=timedelta(days=7)
for s in sundays(2020):
  print(s)

2020-01-05
2020-01-12
2020-01-19
2020-01-26
2020-02-02
2020-02-09
2020-02-16
2020-02-23
2020-03-01
2020-03-08
2020-03-15
2020-03-22
2020-03-29
2020-04-05
2020-04-12
2020-04-19
2020-04-26
2020-05-03
2020-05-10
2020-05-17
2020-05-24
2020-05-31
2020-06-07
2020-06-14
2020-06-21
2020-06-28
2020-07-05
2020-07-12
2020-07-19
2020-07-26
2020-08-02
2020-08-09
2020-08-16
2020-08-23
2020-08-30
2020-09-06
2020-09-13
2020-09-20
2020-09-27
2020-10-04
2020-10-11
2020-10-18
2020-10-25
2020-11-01
2020-11-08
2020-11-15
2020-11-22
2020-11-29
2020-12-06
2020-12-13
2020-12-20
2020-12-27